{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
{% set img = '/a/img/heroes/' %}
{% set jpg = '.jpg' %}
<div class="account">
    <h1 class="left">{{ user }}</h1>
    <span class="bar left">
        <span class="bar-complete" style="width:{{ votes|length/360*100 }}%;"></span>
        <span class="hover">Contribution: {{ '%.1f'|format(votes|length/360*100) ~ '%' }}</span>
    </span>
    <div class="clear"></div>
    {% if votes|length > 0 %}<h2>Previous activity:</h2>{% else %}
    <p>Contribution bar is increased with each active vote you make.</p>
    <p>Start contributing <a href="/hero">today!</a></p>
    <span class="expand">Expand -</span>
    {% endif %}
    <ul class="history">
    {% if false %}
        {% for vote in votes %}
            {% set hero = vote.hero.getSlug %}
            {% set counter = vote.counter.getSlug %}
            <li><img src="{{ img ~ hero ~ jpg }}" /> :: <img src="{{ img ~ counter ~ jpg }}" /></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>
<script type="text/javascript">
$(document).ready(function() {
    var diff = $('.bar').width() - $('.bar-complete').width();
    if (diff < 20) $('.hover').css('color', '#000');

    var h = $('.history');
    $('.expand').on('click', function() {
        var d = h.css('display');
        if (d == 'block') { 
            $(h).slideUp('500'); 
            $(this).html('Expand +');
        } else { 
            $(h).slideDown('500'); 
            $(this).html('Expand -');
        }
    });
});
</script>
{% endblock %}

{% block footer parent() %}
