{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
{% set img = '/a/img/heroes/' %}
{% set jpg = '.jpg' %}
<div class="account">
    <h1 class="left">{{ user }}</h1>
    <span class="bar left">
        <span class="bar-complete" style="width:{{ votes|length/360*100 }}%;"></span>
        <span class="hover">Contribution: {{ '%.1f'|format(votes|length/360*100) ~ '%' }}</span>
    </span>
    <div class="clear"></div>
    {% if votes|length > 0 %}<h2>Previous activity:</h2>{% else %}
    <p>Contribution bar is increased with each active vote you make.</p>
    <p>Go ahead - start contributing <a href="/hero">today!</a></p>
    {% endif %}
    <ul>
    {% for vote in votes %}
        {% set hero = vote.getHeroName|replace({' ':''}) %}
        {% set counter = vote.getCounterName|replace({' ':''}) %}
        <li><img src="{{ img ~ hero ~ jpg }}" /> :: <img src="{{ img ~ counter ~ jpg }}" /></li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript">

$(document).ready(function() {
    var diff = $('.bar').width() - $('.bar-complete').width();
    if (diff < 20) $('.hover').css('color', '#000');
});
    
/*
$('.bar').on('mouseenter', function() {
    var diff = $(this).width() - $('.bar-complete').width();
    if (diff < 20) $('.hover').css('color', '#000');
    $('.hover').css('right', '0');
});
$('.bar').on('mouseleave', function() {
    $('.hover').css('right', '-999px');
});
*/
</script>
{% endblock %}

{% block footer parent() %}

