{% extends "base.html.twig" %}

{% block head parent() %}

{% set img = '/a/img/heroes/' %}
{% set ext = '.jpg' %}
{% block content %} 
<div class="hero">
    <img class="hero-icon-100px" src='{{ img ~ hero.getSlug ~ ext }}' />
        <span class="name">{{ hero.getName }}</span><span class="role"> - {{ hero.getRole }}</span><br/>
        <span class="bar-max hp"><span class="bar" style="width:{{ hero.getHP/3.5 }}px;">{{ hero.getHP }}</span></span><br/> 
        <span class="bar-max dmg"><span class="bar" style="width:{{ hero.getDmg*2.5 }}px;">{{ hero.getDmg }}</span></span><br/> 
        <span class="bar-max armor"><span class="bar" style="width:{{ hero.getArmor*20 }}px;">{{ hero.getArmor }}</span></span><br/> 
        <span class="bar-max diff"><span class="bar" style="width:{{ hero.getDifficulty*30 }}px;">{{ hero.getDifficulty }}</span></span><br/> 
    <div class="clear"></div>

    <div class="hero-counters left">
        <h2 class="center">Top counters for {{ hero.getName }}:</h2>
        <div class="hero-box">
            <ul>
            {% for counter in counters %}
                {% if counter.votes %}
                <li>
                    <div class="hero-img left">
                        <a href="/hero/{{ counter.slug }}"><img class="hero-icon-70px left" src="{{ img ~ counter.slug ~ ext }}" /></a>
                    </div>
                    <div class="hero-info left">
                        <div class="name">{{ counter.name }}</div>
                        <!-- TODO: fix responsive-ness -->
                        <div class="votes">
                            <div class="button">{{ counter.votes }}</div>
                            <div><a class="button" href="/hero/{{ hero.getSlug }}/counter/{{ counter.slug }}/up">&#9650;</a></div>
                            <div><a class="button" href="/hero/{{ hero.getSlug }}/counter/{{ counter.slug }}/down">&#9660;</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                {% endif %}
            {% endfor %}
                <li>
                    <a class="button center add" href="{% if user %}/counter/{{ hero.getSlug }}{% else %}/login{% endif %}">add a counter</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

    {% if pros|length %}
    <div class="hero-pros right">
        <h2 class="center">{{ hero.getName }} is good against:</h2>
        <div class="hero-box">
            <ul>
            {% for pro in pros %}
                {% if pro.votes %}
                <li>
                    <div class="hero-img left">
                        <a href="/hero/{{ pro.slug }}"><img class="hero-icon-70px left" src="{{ img ~ pro.slug ~ ext }}" /></a>
                    </div>
                    <div class="hero-info left">
                        <div class="name">{{ pro.name }}</div>
                        <!-- TODO: fix responsive-ness -->
                        <div class="votes">
                            <div class="button">{{ pro.votes }}</div>
                            <div><a class="button" href="/hero/{{ pro.slug }}/counter/{{ hero.getSlug }}/up">&#9650;</a></div>
                            <div><a class="button" href="/hero/{{ pro.slug }}/counter/{{ hero.getSlug }}/down">&#9660;</a></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    {% endif %}
    <div class="clear"></div>
</div>
<script type="text/javascript">
$('.bar').each(function() {
    $(this).on('mouseenter', function() {
        var a = $(this).parent();
        a.css('background', '#ffa500');
        if (a.hasClass('hp')) a.css('width', '184px');
        else if (a.hasClass('dmg')) a.css('width', '158px');
        else if (a.hasClass('armor')) a.css('width', '140px');
        else if (a.hasClass('diff')) a.css('width', '155px');
    });
    $(this).on('mouseleave', function() {
        $(this).parent().css('background', '#555');
        $(this).parent().css('width', 'auto');
    });
});
</script>
{% endblock %}

{% block footer parent() %}
