{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
{% set img = '/a/img/heroes/' %}
{% set ext = '.jpg' %}
<div class="hero">
    <div class="sort left">
        <a href="/hero?filter={{ url.hp }}" class="button {% if 'HP' in filters %}selected{% endif %}">HP</a>
        <a href="/hero?filter={{ url.dmg }}" class="button {% if 'DMG' in filters %}selected{% endif %}">DMG</a>
        <a href="/hero?filter={{ url.armor }}" class="button {% if 'ARMOR' in filters %}selected{% endif %}">ARMOR</a>
        <a href="/hero?filter={{ url.diff }}" class="button {% if 'DIFF' in filters %}selected{% endif %}">DIFFICULTY</a>
        <a href="/hero?filter={{ url.range }}" class="button {% if 'RANGE' in filters %}selected{% endif %}">RANGE</a>
        <a href="/hero?filter={{ url.hb }}" class="button {% if 'HB' in filters %}selected{% endif %}">HELLBOURNE</a>
        <a href="/hero?filter={{ url.le }}" class="button {% if 'LE' in filters %}selected{% endif %}">LEGION</a>
        <a href="/hero?filter={{ url.agi }}" class="button {% if 'AGI' in filters %}selected{% endif %}">AGI</a>
        <a href="/hero?filter={{ url.int }}" class="button {% if 'INT' in filters %}selected{% endif %}">INT</a>
        <a href="/hero?filter={{ url.str }}" class="button {% if 'STR' in filters %}selected{% endif %}">STR</a>
    </div>
    <div class="right search">
        <form action="/search" method="post">
            <input type="text" id="search" name="_search" placeholder="Search Hero" value="" />
        </form>
    </div>
    <div class="clear"></div>
    <ul class='hero-list'>
    {% for hero in heroes %}
        <li style='position:relative;'>
            <a href="/hero/{{ hero.getName|replace({' ':'+'}) }}">
                <img class='hero-icon-70px' src="{{ img ~ hero.getName|replace({' ':''})|lower ~ ext }}" />
                <div class="overlay"></div>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer parent() %}

