{% extends "base.html.twig" %}

{% block head parent() %}

{% block content %} 
{% set img = '/a/img/heroes/' %}
{% set ext = '.jpg' %}
<script type="text/javascript">
    $(document).ready(function() {
        // init ui-tooltip
        $('.hero-list').tooltip({
            position: { my: "center top-31", at: "center top" },
            show: { effect: "fade", delay: 100, }
        });

        $('.search').tooltip({
            position: { my: "center top-51", at: "center top" },
            show: { effect: "fade", delay: 100, }
        });
    });
</script>
<div class="hero">
    <div class="sort left">
        <div class="unselectable">
            <span>Sort:</span>
            <span class="button sHP">HP</span>
            <span class="button sDMG">DMG</span>
            <span class="button sARMOR">ARMOR</span>
            <span class="button sDIFF">DIFFICULTY</span>
        </div>
        <div class="unselectable">
            <span>Type:</span>
            <span class="button filter fRange">RANGE</span>
            <span class="button filter fMelee">MELEE</span>
        </div>
        <div class="unselectable">
            <span>Side:</span>
            <span class="button filter fLegion">LEGION</span>
            <span class="button filter fHellbourne">HELLBOURNE</span>
        </div>
        <div class="unselectable">
            <span>Stat:</span>
            <span class="button filter fAgi">AGI</span>
            <span class="button filter fInt">INT</span>
            <span class="button filter fStr">STR</span>
        </div>
    </div>
    <div class="search right">
        <form action="/search" method="post">
            <input type="text" id="search" name="_search" placeholder="Search Hero" value="" title="You can search by name, or part of a name: Keeper, SS, TDL, BH" />
        </form>
    </div>
    <div class="clear"></div>

    <ul class='hero-list'>
    {% for hero in heroes %}
        <li style='position:relative;' 
        data-hp="{{ hero.getHP }}" data-dmg="{{ hero.getDmg|slice(3,2) }}" data-armor="{{ hero.getArmor }}" data-diff="{{ hero.getDifficulty }}" 
        title="{{ hero.getName }}" 
        class="tooltip 
        {% if hero.getAttackRange > 150 %}range{% else %}melee{% endif %}
        {% if hero.getTeam == 'Legion' %}le{% else %}hb{% endif %}
        {% if hero.getStat == 'AGI' %}agi{% elseif hero.getStat == 'INT' %}int{% else %}str{% endif %}">
            <a href="/hero/{{ hero.getSlug }}">
                <img class='hero-icon-70px' src="{{ img ~ hero.getSlug ~ ext }}" />
                <div class="overlay"></div>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
<script type="text/javascript" src="/a/js/core.js"></script>
{% endblock %}

{% block footer parent() %}

