{% extends "base.html.twig" %}

{% block head parent() %}

{% set img = '/a/img/heroes/' %}
{% set ext = '.jpg' %}
{% block content %} 
<div class="hero">
    <img class="hero-icon-100px" src='{{ img ~ hero.getName|replace({' ':''})|lower ~ ext }}' />
        <span class="name">{{ hero.getName }}</span><span class="role"> - {{ hero.getRole }}</span><br/>
        <span class="bar-max hp"><span class="bar" style="width:{{ hero.getHP/3.5 }}px;">{{ hero.getHP }}</span></span><br/> 
        <span class="bar-max dmg"><span class="bar" style="width:{{ hero.getDmg*2.5 }}px;">{{ hero.getDmg }}</span></span><br/> 
        <span class="bar-max armor"><span class="bar" style="width:{{ hero.getArmor*20 }}px;">{{ hero.getArmor }}</span></span><br/> 
        <span class="bar-max diff"><span class="bar" style="width:{{ hero.getDifficulty*30 }}px;">{{ hero.getDifficulty }}</span></span><br/> 
    <div class="clear"></div>
    <h2>Top counters for {{ hero.getName }}:</h2>
    <div class="hero-counters">
        <ul>
        {% for counter in counters %}
            <li style="position:relative;">
                <a href="/hero/{{ counter.name }}"><img class="hero-icon-70px left" src="{{ img ~ counter.name|replace({'+':''})|lower ~ ext }}" /></a>
                <div class="left name">{{ counter.name|replace({'+':' '}) }}</div>
                <!-- TODO: fix responsive-ness -->
                <div class="left vote" style="left:72px;"><a href="{{ counter.voteup }}" class="button">up</a></div>
                <div class="left vote" style="left:107px;"><a href="{{ counter.votedown }}" class="button">down</a></div>
                <div class="left vote button" style="left:163px;">{{ counter.votes }}</div>
                <div class="clear"></div>
            </li>
        {% endfor %}
            <li>
                <a href="{{ url.new }}" class="button center add">add a counter</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
$('.bar').each(function() {
    $(this).on('mouseenter', function() {
        var a = $(this).parent();
        a.css('background', '#ffa500');
        if (a.hasClass('hp')) a.css('width', '184px');
        else if (a.hasClass('dmg')) a.css('width', '150px');
        else if (a.hasClass('armor')) a.css('width', '140px');
        else if (a.hasClass('diff')) a.css('width', '155px');
    });
    $(this).on('mouseleave', function() {
        $(this).parent().css('background', '#555');
        $(this).parent().css('width', 'auto');
    });
});
</script>
{% endblock %}

{% block footer parent() %}

